%footer.footer.footer-big.footer-default.top20
  .container
    .row
      .col-md-12

        %hr/
        .social-area.text-center
          %h5 Join us on
          %a.btn.btn-social.btn-round{:href => "#"}
            %i.fa.fa-facebook
          %a.btn.btn-social.btn-round{:href => "#"}
            %i.fa.fa-twitter
          %a.btn.btn-social.btn-round{:href => "#"}
            %i.fa.fa-instagram

        .copyright.text-center
          © 2017 Landslide Alert, made with love

